<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oht">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OpticHabitTrainer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.App"

        tools:ignore="HardcodedDebugMode">
        <activity
            android:name="com.oht.UI.Loading.LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oht.UI.Main.MainActivity"/>
        <activity android:name=".UI.FirstStep.Ready.FirstStepReadyActivity"/>
        <activity android:name=".UI.FirstStep.Ready.FirstStepLoadingActivity"/>
        <activity android:name=".UI.FirstStep.Ready.FirstStepActivity"/>
        <activity android:name=".UI.FirstStep.Result.FirstStepResultActivity"/>
        <activity android:name=".UI.FirstStep.Result.FirstStepEndActivity"/>
        <activity android:name=".UI.SecondStep.Ready.SecondStepReadyActivity"/>
        <activity android:name=".UI.SecondStep.Ready.SecondStepActivity"/>
        <activity android:name=".UI.SecondStep.Ready.SecondStepLoadingActivity"/>
        <activity android:name=".UI.SecondStep.Result.SecondStepEndActivity"/>
        <activity android:name=".UI.SecondStep.Result.SecondStepResultActivity"/>
        <activity android:name=".UI.ThirdStep.Ready.ThirdStepActivity"/>
        <activity android:name=".UI.ThirdStep.Ready.ThirdStepLoadingActivity"/>
        <activity android:name=".UI.ThirdStep.Ready.ThirdStepReadyActivity"/>
        <activity android:name=".UI.ThirdStep.Result.ThirdStepEndActivity"/>
        <activity android:name=".UI.ThirdStep.Result.ThirdStepResultActivity"/>
    </application>

</manifest>